.card {
  display: flex;
  width: 170px;
  height: 200px;
  background-color: var(--background-color);
  border-radius: 20px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  }
  margin: 15px;
}

.card_teams {
  width: 100px;
  padding: 10px;
}

.card_scores {
  width: 70px;
  padding: 10px;
  p {
    input {
      width: 50px;
    }
  }
}

.icon {
  width: 70px;
  height: 70px;
  background-color: var(--primary);
  border-radius: 50px;
  img {
    scale: 70%;
  }
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  }
}
