.mainContain {
	width: 80%;
	height: 80vh;
	margin: auto;
	background: #dfe6ef;
	.main {
		width: 350px;
		height: 580px;
		background: #15223b;
		overflow: hidden;
		border-radius: 10px;
		box-shadow: 5px 20px 50px #000;
	}
}
