:root {
  --primary: #4a69bd;
  --secondary: #6a89cc;
  --light-white: #e7e7e7;
  --grey: #dcdcdc;
  --text-color: black;
  --error: #e74c3c;
  --error-light: #e47366;
  --divider: #4a69bd;
  --font-family: "surt-normal-trialblack";
  --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
  --box-shadow-nav: rgb(0 0 0 / 22%) 0 2px 18px 0;

  --background-color: #15395a;
}
